h3 
{
     font-size: 50px;
    font-weight: 800;
    letter-spacing: -1px;
    background: linear-gradient(floralwhite);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
}

 
header {
    text-align: center;
    padding: 40px 20px;
    background: rgba(0,0,0,0.2);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
p
{
    
     font-size: 30px;
    font-weight: 800;
    letter-spacing: -1px;
    background: linear-gradient(floralwhite);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}
li
{
    
     font-size: 20px;
    font-weight: 800;
    letter-spacing: -1px;
    background: linear-gradient(floralwhite);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}
a
{
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -1px;
    background: linear-gradient(90deg, #00ffcc, #00ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}
.btn-volver {
    background: transparent;
    border: 1px solid rgba(0,255,204,0.5);
    color: #00ffcc;
    padding: 6px 16px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-volver:hover {
    background: rgba(0,255,204,0.2);
    box-shadow: 0 0 15px rgba(0,255,204,0.3);
}
 

.btn-logout {
    border: 1px solid rgba(0,255,204,0.6);
    color: #00ffcc;
    padding: 6px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.25s ease;
    backdrop-filter: blur(6px);
    font-weight: 500;
}

 
.btn-logout:hover {
    background: rgba(0,255,204,0.2);
    box-shadow: 0 0 15px rgba(0,255,204,0.45);
    transform: translateY(-1px);
}

 
.btn-logout:active {
    transform: scale(0.96);
}

